header {
  height: 72px;
  width: 100%;
  padding: 0 40px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.header-logo {
    height: 40px;
}

/* Tema Escuro */
[data-theme="dark"] header {
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

[data-theme="dark"] .header-logo {
  filter: brightness(0) invert(1);
}

