.app-layout {
  display: flex;
}

.main-content-area.sidebar-open {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.main-content-area.sidebar-closed {
  margin-left: 80px;
  width: calc(100% - 80px);
}

.main-content-area {
  flex-grow: 1;
  padding-top: 72px; 
  transition: margin-left 0.3s ease, width 0.3s ease;
}

.page-content {
  padding: 20px;
}

/* Tema Escuro */
[data-theme="dark"] .app-layout {
  background-color: #121212;
  color: #ffffff;
}

[data-theme="dark"] .main-content-area {
  background-color: #121212;
}

[data-theme="dark"] .page-content {
  background-color: #121212;
  color: #ffffff;
}

