.page-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 40px 20px;
  background-color: white;
}

body {
  margin: 0;
  background-color: white;
}

.logo-section {
  
  margin-left: 150px;
  text-align: center;
  margin-right: auto;
}

.logo-section img {
  max-width: 600px;
  margin-bottom: 20px;
}

.logo-section p {
  color: #6E5C5C;
  font-size: 1.2rem;
  margin-bottom: 10px;
  max-width: 600px;
}

.logo-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  white-space: nowrap;
}

.login-section h1 {
  color: #1d3d7c;
  font-size: 1.1rem;
  margin-top: 24px;
  margin-bottom: 16px;
}

.login-section h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.login-section {
  max-width: 400px;
  padding: 50px;
  margin-left: 0;
  margin-right: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-section form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-section p {
  text-align: center;
  font-size: 1.1rem;
}

.login-section label {
  color: #000000;
  font-weight: 600;
  font-size: 0.9rem;
}

.login-section input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  width: 100%;
}

.login-section button {
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #314697;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-section button:hover {
  background-color: #8697D9;
}

.forgot-password-container {
  width: 100%;
  text-align: right;
  margin-bottom: 12px;
}

.forgot-password-link {
  color: #314697;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 600;
}

.forgot-password-link:hover {
  text-decoration: underline;
}
