.register-section {
  width: 400px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.register-section h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.register-section p {
  text-align: center;
  font-size: 1.1rem;
}

.register-section label {
  color: #000000;
  font-weight: bold;
}

.register-section input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.register-section button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #314697;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.register-section button:hover {
  background-color: #8697D9;
}