@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

html {
  font-size: 16px; 
}

html[data-text-size="pequeno"] {
  font-size: 16px;
}

html[data-text-size="medio"] {
  font-size: 18px;
}

html[data-text-size="grande"] {
  font-size: 20px;
}

html[data-text-size="medio"] h1 {
  font-size: calc(1.75rem + 0.0125rem) !important;
}

html[data-text-size="medio"] h2 {
  font-size: calc(1.5rem + 0.0125rem) !important;
}

html[data-text-size="medio"] h3 {
  font-size: calc(1.25rem + 0.0125rem) !important;
}

html[data-text-size="medio"] p,
html[data-text-size="medio"] span,
html[data-text-size="medio"] div,
html[data-text-size="medio"] label,
html[data-text-size="medio"] input,
html[data-text-size="medio"] select,
html[data-text-size="medio"] textarea,
html[data-text-size="medio"] button {
  font-size: calc(1rem + 0.0125rem) !important;
}
html[data-text-size="grande"] h1 {
  font-size: calc(1.75rem + 0.03125rem) !important;
}

html[data-text-size="grande"] h2 {
  font-size: calc(1.5rem + 0.03125rem) !important;
}

html[data-text-size="grande"] h3 {
  font-size: calc(1.25rem + 0.03125rem) !important;
}

html[data-text-size="grande"] p,
html[data-text-size="grande"] span,
html[data-text-size="grande"] div,
html[data-text-size="grande"] label,
html[data-text-size="grande"] input,
html[data-text-size="grande"] select,
html[data-text-size="grande"] textarea,
html[data-text-size="grande"] button {
  font-size: calc(1rem + 0.03125rem) !important;
}

html[data-text-size="medio"] .sidebar.open {
  width: calc(250px + 25px) !important;
}

html[data-text-size="grande"] .sidebar.open {
  width: calc(250px + 60px) !important;
}

html[data-text-size="medio"] .main-content-area.sidebar-open {
  margin-left: calc(250px + 25px) !important;
  width: calc(100% - 250px - 25px) !important;
}

html[data-text-size="grande"] .main-content-area.sidebar-open {
  margin-left: calc(250px + 60px) !important;
  width: calc(100% - 250px - 60px) !important;
}
