.page-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: white;
}

body {
  margin: 0;
  background-color: white;
}

.logo-section {
  flex: 0 1 800px;
  text-align: center;
  padding-right: 40px;
}

.logo-section p {
  color: #6E5C5C;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.login-section h1 {
  color: #1d3d7c;
  font-size: 1.1rem;
  margin-top: 24px;
  margin-bottom: 16px;
}

.login-section h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 15px;
  text-align: center;
  ;
  
}

.login-section {
  width: 400px;
  padding: 50px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-section form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-section p {
  text-align: center;
  font-size: 1.1rem;
}

.login-section label {
  color: #000000;
  font-weight: bold;
}

.login-section input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.login-section button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #314697;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-section button:hover {
  background-color: #27377a;
}

.login-section a {
  color: #314697;
  font-weight: bold;
  text-decoration: none;
}

.login-section a:hover {
  text-decoration: underline;
}

.error-message {
  color: #d8000c;
  background-color: #ffd2d2;
  border: 1px solid #d8000c;
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  font-size: 0.09rem;
}