.page-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: white;
}

body {
  margin: 0;
  background-color: white;
}

.logo-section {
  flex: 0 1 800px;
  text-align: center;
  padding-right: 40px;
}

.register-section {
  width: 520px;
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.register-section form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.register-section h2 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 15px;
}

.register-section p {
  text-align: center;
  font-size: 1.1rem;
}

.register-section label {
  color: #000000;
  font-weight: bold;
}

.register-section input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.register-section button {
  padding: 12px;
  border-radius: 6px;
  border: none;
  background-color: #314697;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.register-section button:hover {
  background-color: #27377a;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

.register-section a {
  color: #314697;
  font-weight: bold;
  text-decoration: none;
}

.register-section a:hover {
  text-decoration: underline;
}

/* Forçar modo claro, não sei porque não tá mantendo o estilo sem isso */
[data-theme="dark"] .page-container {
  background-color: white !important;
  color: black !important;
}

[data-theme="dark"] .register-section {
  background-color: white !important;
  color: black !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
}

[data-theme="dark"] .register-section h2 {
  color: black !important;
}

[data-theme="dark"] .register-section label {
  color: black !important;
}

[data-theme="dark"] .register-section input,
[data-theme="dark"] .register-section select {
  background-color: white !important;
  color: black !important;
  border: 1px solid #ccc !important;
}

[data-theme="dark"] .register-section p {
  color: black !important;
}

[data-theme="dark"] .register-section a {
  color: #314697 !important;
}

[data-theme="dark"] .logo-section {
  color: black !important;
}

[data-theme="dark"] .logo-section h2 {
  color: #1d3d7c !important;
}

[data-theme="dark"] .logo-section p {
  color: #6E5C5C !important;
}